# 1. Secrets (Never upload these)
.env

# 2. Virtual Environment (Too large, install via requirements.txt instead)
venv/
env/
.venv/

# 3. Python Compiled files (Junk files)
__pycache__/
*.pyc

# 4. App-generated data
cache-data/
flask_session/

# 5. Editor settings (Optional, keeps repo clean)
.vscode/
.idea/
.DS_Store